
/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.topo {
    display: flex;
    align-items: center;
}

.topo .btn {
    margin-left: auto;
}

.marketing {
    width: 90%;
}

.marketing .col-lg-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5rem;
  text-align: justify;
  border: 1px solid lightgray;
  border-radius: 10px;
  background-color: #fff;
}

.marketing h2 {
  font-weight: 400;
  text-align: center;
}

.col-lg-4 img {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 96px;
    height: 96px;
}

.col-lg-4 .btn {
    float: right;
    margin-bottom: 1rem;
}
/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
/* rtl:end:ignore */

.column {
    flex-direction: column;
}

.col-auto form {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.col-auto input, textarea {
    width: 80%;
}

textarea {
    height: 200px;
    margin-bottom: 1rem;
}

.apagar {
    float: right;
}

.profile {
    flex-direction: row;
}

.profile-info {
    flex: auto;
}

.col-lg-3 {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;

}

.col-lg-3 img {
    height: 192px;
    width: 192px;
    align-self: center;
    border: 1px solid lightgray;
}

.col-lg-3 .buttons {
    align-self: flex-end;
}

.btn-avatar {
    max-width: 7rem;
    align-self: center;
}