{% extends 'base.html' %}
{% block style %}<link href="{{ url_for('static', filename='signin.css') }}" rel="stylesheet">{% endblock %}

{% block content %}
<main class="text-center">
<div class="form-signin">
  <h1 class="h3 mb-3 fw-normal">{% block title %}Editar senha{% endblock %}</h1>
  <form method="post">

    <div class="form-floating">
    <input class="form-control" type="password" name="old_password" id="old_password" placeholder="old_password" required>
    <label for="password">Senha antiga</label>
    </div>

    <div class="form-floating">
    <input class="form-control" type="password" name="password" id="password" placeholder="password" required>
    <label for="password">Senha nova</label>
    </div>

    <div class="form-floating">
    <input class="form-control" type="password" name="password_check" id="password_check" placeholder="password_check" required>
    <label for="password">Digite novamente a senha nova</label>
    </div>

    <input class="w-100 btn btn-lg btn-primary" type="submit" value="Registrar">
	<button class="w-100 btn btn-lg btn-secondary" type="button" onclick="window.location.href='{{ url_for ('index') }}'">Cancelar</button>
  </form>
</div>
</main>
{% endblock %}