<html>
  <head>
    <title>Mapa - Erro Crítico</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for ('static', filename='bootstrap.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='headers.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='footers.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.12.0/css/ol.css">
    <!-- Pointer events polyfill for old browsers, see https://caniuse.com/#feat=pointer -->
    <script src="https://unpkg.com/elm-pep"></script>
    <!-- The lines below are only needed for old environments like Internet Explorer and Android 4.x -->
    <script src="https://cdn.polyfill.io/v3/polyfill.min.js?features=fetch,requestAnimationFrame,Element.prototype.classList,TextDecoder"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/3.18.3/minified.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }
      .map {
          margin: 1rem;
          height: 80%;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
  </head>
  <body>
  <nav class="p-3 mb-3 border-bottom">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="{{ url_for('index') }}"><img class="rounded-circle" width=64 height=64 src="{{ url_for('static', filename='logo.JPG') }}"></a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="{{ url_for('index') }}" class="nav-link px-2 link-dark">Início</a></li>
          <li><a href="{{ url_for('blog.map') }}" class="nav-link px-2 link-secondary">Mapa</a></li>
        </ul>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
          <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
        </form>
        {% if g.user %}
        <div class="dropdown text-end">
          <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="{{ g.user['avatar'] }}" alt="{{ g.user['name'] }}" width="32" height="32" class="rounded-circle">
          </a>
          <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
            <li><a class="dropdown-item" href="{{ url_for('index') }}">Início</a></li>
            <li><a class="dropdown-item" href="/profile/{{ g.user['username'] }}">Perfil</a></li>
            <li><a class="dropdown-item" href="{{ url_for('blog.create') }}">Novo post...</a></li>
            <li><a class="dropdown-item" href="{{ url_for('auth.settings') }}">Configurações</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{{ url_for('auth.logout') }}">Sair</a></li>
          </ul>
        </div>
        {% else %}
        <div class="dropdown text-end">
          <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://4xucy2kyby51ggkud2tadg3d-wpengine.netdna-ssl.com/wp-content/uploads/sites/37/2017/02/IAFOR-Blank-Avatar-Image.jpg" alt="Avatar" width="32" height="32" class="rounded-circle">
          </a>
          <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
            <li><a class="dropdown-item" href="{{ url_for('auth.register') }}">Registrar</a></li>
            <li><a class="dropdown-item" href="{{ url_for('auth.login') }}">Entrar</a></li>
          </ul>
        </div>
        {% endif %}
      </div>
    </div>
  </nav>
    <div id="map" class="map container"><div id="popup"></div></div>
<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
        <img class="bi" width="24" height="24" src="{{ url_for('static', filename='logo.JPG') }}">
      </a>
      <span class="text-muted">&copy; 2021 Company, Inc</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"/></svg></a></li>
      <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"/></svg></a></li>
      <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"/></svg></a></li>
    </ul>
  </footer>
</div>
  <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.12.0/build/ol.js"></script>
  <script type="text/javascript">
//     import 'ol/ol.css';
//     import Feature from 'ol/Feature';
//     import Map from 'ol/Map';
//     import Point from 'ol/geom/Point';
//     import TileJSON from 'ol/source/TileJSON';
//     import VectorSource from 'ol/source/Vector';
//     import View from 'ol/View';
//     import {Icon, Style} from 'ol/style';
//     import {Tile as TileLayer, Vector as VectorLayer} from 'ol/layer';
//     import {fromLonLat} from 'ol/proj';
    
    {% for x in aurelio.values() %}
    const {{x['username']}} = new ol.Feature({
      geometry: new ol.geom.Point(ol.proj.fromLonLat([{{x['local'].longitude}}, {{x['local'].latitude}}])),
      name: '{{x['username']}}',
    });
    const {{x['username']}}Style = new ol.style.Style({
      image: new ol.style.Icon({
        anchor: [0.5, 1],
        anchorXUnits: 'fraction',
        anchorYUnits: 'fraction',
        src: 'https://www.freepnglogos.com/uploads/pin-png/flat-design-map-pin-transparent-png-stickpng-18.png',
        scale: 0.01,
      }),
    });
    {{x['username']}}.setStyle({{x['username']}}Style);
    
    {% endfor %}
    
    const vectorSource = new ol.source.Vector({
      features: [
        {% for x in aurelio.values() %}
        {{x['username']}},
        {% endfor %}
      ],
    });

    const vectorLayer = new ol.layer.Vector({
      source: vectorSource,
    });

    const rasterLayer = new ol.layer.Tile({
      source: new ol.source.OSM(),
    });

    const map = new ol.Map({
      layers: [rasterLayer, vectorLayer],
      target: document.getElementById('map'),
      view: new ol.View({
        center: ol.proj.fromLonLat([{{location.longitude}}, {{location.latitude}}]),
        zoom: 12,
      }),
    });
    
    const element = document.getElementById('popup');

    const popup = new ol.Overlay({
      element: element,
      positioning: 'bottom-center',
      stopEvent: false,
    });
    map.addOverlay(popup);

    // display popup on click
    map.on('click', function (evt) {
      const feature = map.forEachFeatureAtPixel(evt.pixel, function (feature) {
        return feature;
      });
      if (feature) {
        popup.setPosition(evt.coordinate);
        $(element).popover({
          placement: 'top',
          html: true,
          content: feature.get('name'),
        });
        $(element).popover('show');
      } else {
        $(element).popover('dispose');
      }
    });
    // change mouse cursor when over marker
    map.on('pointermove', function (e) {
      const pixel = map.getEventPixel(e.originalEvent);
      const hit = map.hasFeatureAtPixel(pixel);
      map.getTarget().style.cursor = hit ? 'pointer' : '';
    });
    // Close the popup when the map is moved
    map.on('movestart', function () {
      $(element).popover('dispose');
    });
  </script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>
