{% extends 'base.html' %}

{% block header %}

<nav>
  <ul>
    <li><a href= "{{ url_for('blog.upload') }}">Enviar imagem</a>
  </ul>
  <img src="">
  <h1>{% block title %}{% for u in user %}Perfil de {{ u ['name'] }}{% endfor %}{% endblock %}</h1>

{% endblock %}

{% block content %}
{% for u in user %}
    <article class="profile">
      <header>
        <div>
          <h1>{{ u ['username'] }}</h1>
          <h1>{{ u ['name'] }}</h1>
        </div>
      </header>
    </article>
  <hr>
  <form action="{{ url_for('auth.delete', id=u['id']) }}" method="post">
    <input class="danger" type="submit" value="Apagar usuário" onclick="return confirm('Tem certeza disso?');">
  </form>
{% endfor %}
{% endblock %}