{% extends 'base.html' %}

{% block header %}

  <h1>{% block title %}{% for u in user %}Perfil de {{ u ['name'] }}{% endfor %}{% endblock %}</h1>

{% endblock %}

{% block content %}
{% for u in user %}
<img class="avatar" src="/static/avatars/{{ u ['username'] }}" alt="Foto de perfil de {{ u ['name'] }}">
<br>
{% if g.user['id'] == u ['id'] %}
<button type="button" onclick="window.location.href='{{ url_for ('uploader.upload_avatar') }}'">Enviar foto</button>
{% endif %}

    <article class="profile">
      <header>
        <div>
          <h1>{{ u ['username'] }}</h1>
          <h1>{{ u ['name'] }}</h1>
        </div>
      </header>
    </article>
  <hr>
  <form action="{{ url_for('auth.delete', id=u['id']) }}" method="post">
    <input class="danger" type="submit" value="Apagar usuário" onclick="return confirm('Tem certeza disso?');">
  </form>
{% endfor %}
{% endblock %}