{% extends 'base.html' %}

{% block header %}
<div class="profile">
  <h1>{% block title %}{% for u in user %}Perfil de {{ u['name'] }}{% endfor %}{% endblock %}</h1>
  <br>
  <div class="profile-info">
{% for u in user %}
  <p>
      Nome: {{ u['name'] }} {{ u['surname'] }} <br>
      E-mail: <a href="mailto:{{ u['email'] }}">{{ u['email'] }}</a> <br>
      Localização: {{ u['location'] }} <br>
  </p>
  </div>
</div>
<div class="profile-img">
    <img class="avatar" src="/static/avatars/{{ u['id'] }}" alt="Foto de perfil de {{ u['name'] }}">
    <br>
    {% if g.user['id'] == u['id'] %}
    <button type="button" onclick="window.location.href='{{ url_for ('uploader.upload_avatar') }}'">Enviar foto</button>
    {% endif %}
</div>
{% endfor %}
{% endblock %}

{% block content %}
{% for u in user %}
{% if g.user['id'] == u['id'] %}
  <form action="{{ url_for('auth.delete', id=u['id']) }}" method="post">
    <input class="danger" type="submit" value="Apagar usuário" onclick="return confirm('Tem certeza disso?');" style="float: right">
  </form>
    <button type="button" onclick="window.location.href='{{ url_for ('auth.update_profile', id=u['id']) }}'">Editar perfil</button>
 {% endif %}
{% for post in posts %}
    {% if post['author_id'] == u['id'] %}
    <article class="post">
      <header>
        <div>
          <h1>{{ post['title'] }}</h1>
          <div class="about">by {{ post['username'] }} on {{ post['created'].strftime('%Y-%m-%d') }}</div>
        </div>
          <a class="action" href="{{ url_for('blog.update', id=post['id']) }}">Editar</a>
      </header>
      <p class="body">{{ post['body'] }}</p>
    </article>
    {% endif %}
    {% if not loop.last %}
      <hr>
    {% endif %}
{% endfor %}
{% endfor %}
{% endblock %}