{% extends 'base.html' %}
{% block head %}<link href="{{ url_for('static', filename='carousel.css') }}" rel="stylesheet">{% endblock %}


{% block content %}
<div class="container">
  <h1>{% block title %}Editar "{{ post['title'] }}"{% endblock %}</h1>
<div class="row column">
<div class="col-auto">
  <form method="post">
    <label for="title">Título</label>
    <input name="title" id="title"
      value="{{ request.form['title'] or post['title'] }}" required>
    <label for="body">Conteúdo</label>
    <textarea name="body" id="body">{{ request.form['body'] or post['body'] }}</textarea>
    <div class="buttons">
    <button class="btn btn-primary" type="submit">Salvar</button>
    <button class="btn btn-secondary" type="button" onclick="window.location.href='{{ url_for ('index') }}'">Cancelar</button>
    </div>
  </form>
</div>
</div>
</div>
  <hr>
  <form class="apagar" action="{{ url_for('blog.delete', id=post['id']) }}" method="post">
    <input class="btn btn-secondary" type="submit" value="Apagar" onclick="return confirm('Tem certeza disso?');">
  </form>
{% endblock %}